
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.8.2.min.js')}}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='bind_data.js')}}"></script>

</head>
<body>


<!-- form  action="/forecast/" method="post" -->

<!-- Nav -->

<div class="container" style="height:900px">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
		  
			<li role="presentation"><a href="#">Crawler</a></li>
			<li role="presentation"><a href="#">Miners</a></li>
			<li role="presentation"><a href="#">Raw Data</a></li>
			<li role="presentation"><a href="#">Mined Data</a></li>
			<li role="presentation"><a href="#">Global Virus Map</a></li>
			<li role="presentation"><a href="#">DDoS Event</a></li>
			<li role="presentation"><a href="#">Dark Web Topic</a></li>
			
			<li role="presentation" class="active"><a href="/forecast">Forecast</a></li>
            
			<li role="presentation"><a href="/embedding">Embedding</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">CisDem</h3>
      </div>


<!-- Body -->

<!-- Input -->
    <div class="form-inline" style="margin-top:10px;margin-bottom:10px;margin: 0 auto">
	<label id='label'>Target: </label>
        <div class="form-group">
            <input type="text" id="begin_time" name="q" placeholder="NASA or SONY"/>
        </div>
		
	<div class="form-group">
            <!--input id="button" type="submit" value="Search"-->
            <input id = "button" type="button" name ="button" value="search"/>
        </div>

    </div>

<!-- List -->
<div class="table-responsive" style="max-height:280px;overflow: hidden; margin: 0 auto;">
    <table class="table table-striped" id="table1">
        <thead>
        <tr><th>No.</th><th> Tweet</th></tr>
        </thead>
		
        <tbody class="table-slide" id="table-slide">
       
	<tr><td></td> <td></td></tr>		
	   
        </tbody>
	</table>
</div>

<!-- Result -1 -->
<div class="container1", style="max-height:500px; overflow: hidden;">
    <table class="table table-sss">
        <thead>
            <tr><th>clusters</th></tr>
        </thead>

    <tbody id="cluster-slide" class="cluster-slide">
    <tr>
    <td> 

    </td>
    </tr>
    </tbody>
    </table>
</div>

</div>
<script>
function sse() {
    var source = new EventSource('/stream_t');
    var out    = document.getElementById('table-slide');
    out.innerHTML = '';
    var out2   = document.getElementById('cluster-slide');
    //out.innerHTML='kkk';
    source.onmessage = function(e) {
        //out.innerHTML = '<tr><td></td> <td>'+e.data+'</td></tr>' + '\n' + out.innerHTML;
        data = e.data.split('_even_and_cluster_')
        out.innerHTML = data[0] + '\n' + out.innerHTML;
        out2.innerHTML = data[1];
        //out.innerHTML = out.innerHTML + '\\n' + e.data;
    };
}

$('#button').click(function(){
    var out    = document.getElementById('table-slide');
    out.innerHTML = '';

    $.post('/post_t/', {'message': $('#begin_time').val()});
    //$(this).val('');
});

sse();
</script>


<!--/form -->

</body>
</html>

